.grow {
  padding-top: 100px;
}
.grow-container {
  max-width: 1176px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-grow {
  padding-top: 92px;
  max-width: 462px;
}
.about-grow__title {
  margin: 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 77px;
  letter-spacing: -2.50105px;
  color: #19191b;
}
.about-grow__interractive {
  padding-top: 50px;
  display: flex;
}
.about-grow__button {
  background-color: #5454d4;
}
.about-grow__circle {
  margin-left: 40px;
  cursor: pointer;
}
